.nav {
    display: flex;
    justify-content: space-around;
    background-color: azure;
}
.nav-link{
    text-decoration: none;
    padding: 0.6em 0.5em;
    border-radius: 5px;
    background-color: rgb(213, 251, 251);
    border: .5em;
    font-size: 1.3em;
    color: black;
    margin: 1em 0;
    font-weight: 350;
}
.nav-link:hover {
    box-shadow: 10px 10px 30px rgb(182, 185, 185);
}
h1 {
    font-weight: 300;
    font-size: 50px;

}
.items {
    margin: 20px 20px;
    background-color: azure;
    box-shadow: 10px 10px 30px rgb(182, 185, 185);
    border-radius: 5px;
    padding: 20px 0;
}

.btn-buy{
    padding: .5em 1em;
    font-size: 1.5em;
    border: 0;
    background-color: rgb(223, 240, 240);
    box-shadow: 5px 5px 10px rgb(182, 185, 185);
    cursor: pointer;
}

img {
    width:150px;
    height:150px;
    object-fit: contain;
}

.Para {
    text-decoration-line: none;
    color:black;
    font-size: 2em;
}
a{
    text-decoration: none;
}
.span {
   font-size: 1.5em;
}

.order {
    margin:1em 0;
    display: flex;
    justify-content: space-evenly;
}
.orderId {
    font-size: 1.8em;
    font-weight: 400;
}
.emptycart {
    width:20em;
    height:20em;
}

@media (min-width:1000px) {
    .item {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    .emptycart {
        width:40em;
        height:40em; 
    }
}